.photo-details-modal {
  background-color: white;
  box-shadow: 0 0 0 50vmax rgba(0,0,0,.5);
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -40%);
  max-height: 100vh;
  max-width: fit-content;
  overflow-y: scroll;
  border-radius: 12px;
  padding: 40px;
  // display: flex;
  // flex-direction: column;
}

.App.dark-mode .photo-details-modal {
  background-color: #333333;
}

.photo-details-modal.closed {
  display: none; /* Hide the modal when it has the "closed" class */
}

.photo-details-modal__close-button {
  background-color: white;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-left: 16px;
  margin-top: 16px;
  position: absolute;
  top: 0;
  left: 0;
}

.App.dark-mode .photo-details-modal__close-button {
  background-color: #333333;
}

.photo-details-modal__box {
  padding: 10px;
}

.photo-details-modal__images {
  margin-left: 36px;
  margin-top: 8px;
}

.photo-details-modal__image {
  // max-width: 95%;
  // border-radius: 8px;
  border-radius: 8px 8px 8px 8px;
  user-select: none;
  width: 450px;
  height: 300px;
  object-fit: cover;
  margin-bottom: 10px;
}

.photo-details-modal__top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 16px;
  margin-top: 8px;
  align-items: center;
}

.photo-details-modal__photographer-details {
  display: flex;
  font-size: 16px;
}

.photo-details-modal__profile-picture {
  object-fit: cover;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 8px;
  width: 40px;
  height: 40px;
}

.photo-details-modal__user-info {
  margin-top: 5px;
  font-weight: 700;
  font-size: 12px;
  margin-left: 8px;
}

.App.dark-mode .photo-details-modal__user-info {
  color: #ffffff;
}

.photo-details-modal__user-location {
  color: #838383;
}

.photo-details-modal__header {
  font-size: 18px;
  font-weight: 500;
  color: #1e1e1e;
  margin-top: 24px;
  margin-bottom: 24px;
  width: 90%;
}